canvas{
	width: 100%;
	height: 100%;
	background: black;
}

body,html{
	height: 100%;
	margin: 0;
}

#container {
  position: relative;
  height: 100%;
}


#overlay{ 
	color: white;
	position:absolute; 
	text-align: center;
	top:50px; 
	left:35%;
	font-family: Arial;
	border-radius: 10.56px;
	padding: 0 16px;
	background: grey;
	line-height: 32px; }